@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700italic,900,300);
html {
    box-sizing: border-box;
    background: #C1BDBA;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/*Doctor Homepage*/

.container {
    width: 75%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.logo-bar {
    background-color: gray;
}

#logo {
    width: 30%;
    padding-top: 10px;
    padding-left: 15px;
}

.practice-name {
    float: right;
    padding-top: 15px;
    padding-right: 15px;
    font-size: 200%;
}

.main-container {
    display: flex;
    padding: 50px;
    justify-content: space-around;
}

.payment-entry {
    width: 60%;
    background-color: #179B77;
    border-radius: 5px;
    padding: 20px;
}

.payment-data {
    width: 100%;
}

#last-name {
    width: 45%;
    float: left;
}

#last-name:focus {
    outline: none;
    border:1px solid white;
}

#last-name,
textarea {
  font-size: 22px;
  display: block;
  padding: 5px 10px;
  background: none;
  border: 1px solid black;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

#first-name {
    width: 45%;
    float: right;
}

#first-name:focus {
    outline: none;
    border:1px solid white;
}

#first-name,
textarea {
  font-size: 22px;
  display: block;
  padding: 5px 10px;
  background: none;
  border: 1px solid black;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

#payment-amount1 {
    width: 45%;
    float: left;
    margin-top: 20px;
}

#payment-amount1:focus {
    outline: none;
    border:1px solid white;
}

#payment-amount1,
textarea {
  font-size: 22px;
  display: block;
  padding: 5px 10px;
  background: none;
  border: 1px solid black;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

#payment-amount2 {
    width: 45%;
    float: left;
    margin-top: 20px;
}

#payment-amount2:focus {
    outline: none;
    border:1px solid white;
}

#payment-amount2,
textarea {
  font-size: 22px;
  display: block;
  padding: 5px 10px;
  background: none;
  border: 1px solid black;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

#payment-amount3 {
    width: 45%;
    float: left;
    margin-top: 20px;
}

#payment-amount3:focus {
    outline: none;
    border:1px solid white;
}

#payment-amount3,
textarea {
  font-size: 22px;
  display: block;
  padding: 5px 10px;
  background: none;
  border: 1px solid black;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

.purpose-selector {
    width: 45%;
    float: right;
    margin-top: 20px;
}

.purpose-selector:focus {
    outline: none;
    border:1px solid white;
}


.purpose-selector,
textarea {
  font-size: 22px;
  display: block;
  padding: 5px 10px;
  background: none;
  border: 1px solid black;
  color: black;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

#payment-total {
    width: 45%;
    float: left;
    margin-top: 20px;
}

#payment-total:focus {
    outline: none;
    border:1px solid white;
}


#payment-total,
textarea {
  font-size: 22px;
  display: block;
  padding: 5px 10px;
  background: none;
  border: 1px solid black;
  color: black;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

#payment-method {
    width: 45%;
    float: right;
    margin-top: 15px;
}

#payment-method:focus {
    outline: none;
    border:1px solid white;
}

#payment-method,
textarea {
  font-size: 22px;
  display: block;
  padding: 5px 10px;
  background: none;
  border: 1px solid black;
  color: black;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

#comments {
    width: 100%;
    float: right;
    margin-top: 20px;
}

#comments:focus {
    outline: none;
    border:1px solid white;
}

#comments,
textarea {
  font-size: 22px;
  display: block;
  padding: 5px 10px;
  background: none;
  border: 1px solid black;
  color: white;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

.submit-button {
    background-color: #062F5C;
    margin-top: 20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.submit-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.submit-button:focus {
    outline: none;
}

.chat {
    width: 35%;
    height: 476px;
    background-color: #179B77;
    border-radius: 5px;
}
