html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/*login*/

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.toggle-buttons {
  color: #ffffff;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  display: flex;
}

.doctor-toggle {
  background-color: #1ab188;
  width: 50%;
  font-size: 20px;
}

.billing-toggle {
  background-color: #435159;
  width: 50%;
  font-size: 20px;
}