<body>

    <img id="login-logo" src="assets/images/billingsimplified logo llama.png">

    <main class="form">
        <h1 style="color:white; text-align:center; padding-bottom: 5px;">Select One</h1>
        <header class="toggle-container">
            <nav>
                <ul class="toggle-buttons">
                    <li class="doctor-toggle" ng-class="{selected:practice}" ng-click="practice=true">Practice Staff</li>
                    <li class="billing-toggle" ng-class="{selected:!practice}" ng-click="practice=false">Simplified Staff</li>
                </ul>
            </nav>
        </header>
        <section>

            <h1 style="color:white; text-align:center; font-size:50px;">Welcome Back!</h1>

            <form class="login" method="post" action="index.html">
                <p><input id="login-name" type="text" name="login" value="" placeholder="Username or Email"></p>
                <p><input id="login-password" type="password" name="password" value="" placeholder="Password"></p>
            </form>

            <div class="login-help">
                <p style="color:#1ab188">Forgot your password?</p>
            </div>

            <p><input id="login-submit" type="submit" name="commit" value="LOG IN"></p>

        </section>
    </main>
</body>