<main class="container">
    <header>

        <div class="logo-bar">
            <img id="logo" src="assets/images/Billingsimplified logo.png">
        </div>

    </header>

    <div class="main-container">

        <div class="payment-entry">
            DATA VISUALS WITH D3 - DIRECTIVE



        </div>





    </div>

</main>

<chat-dir></chat-dir>

<a ui-sref="login">
    <div class="logout-containter">

        <i class="fa fa-sign-out logout fa-2x" aria-hidden="true"></i>

        <ul class="logout-text">LOGOUT</ul>

    </div>
</a>