<section class="curtain" ng-show="patient">

</section>
<main class="container">
    <header>

        <div class="logo-bar">
            <img id="logo" src="assets/images/Billingsimplified logo.png">
            <p class="practice-name">Jones Family Practice</p>
        </div>

    </header>

    <div class="main-container">

        <div class="payment-entry">
            <form class="payment-data" method="post" action="index.html">

                <div class="input-field">
                    <fieldset>
                        <legend style="font-size:50px; padding-bottom: 10px;">Payment Entry </legend>

                        <input value="payment-date" class="payment-date" type="date" ng-model="newPayment.date_charged">

                        <input for="due-date" class="due-date" type="date" ng-model="newPayment.due_by">

                        <select placeholder="Select Patient" ng-model="newPayment.patient" ng-options="patient as patient.name for patient in patients" data-type="search" id="name" required>
                                <option value="" disabled>Select Patient</option>
                            </select>

                        <input ng-model="amount1" ng-blur="total()" id="payment-amount1" type="number" name="payment-amount" placeholder="Payment Amount" required>

                        <select class="purpose-selector1" name="purpose" required>
                                <option selected disabled>Select Purpose</option>
                                <option value="Copay">Copay</option>
                                <option value="Deposit">Deposit</option>
                                <option value="Bill Payment">Bill Payment</option>
                                <option value="Other">Other</option>
                            </select>

                        <input ng-model="amount2" ng-blur="total(); test()" id="payment-amount2" type="number" name="payment-amount" placeholder="Payment Amount">

                        <select class="purpose-selector2" name="purpose">
                                <option selected disabled>Select Purpose</option>
                                <option value="Copay">Copay</option>
                                <option value="Deposit">Deposit</option>
                                <option value="Bill Payment">Bill Payment</option>
                                <option value="Other">Other</option>
                            </select>

                        <input ng-model="amount3" ng-blur="total()" id="payment-amount3" type="number" name="payment-amount" placeholder="Payment Amount">

                        <select class="purpose-selector3" name="purpose">
                                <option selected disabled>Select Purpose</option>
                                <option value="Copay">Copay</option>
                                <option value="Deposit">Deposit</option>
                                <option value="Bill Payment">Bill Payment</option>
                                <option value="Other">Other</option>
                            </select>

                        <input ng-model="result" id="payment-total" type="number" name="payment-total" placeholder="Total Payment">

                        <input ng-model="newPayment.payment_method" id="payment-method" type="text" placeholder="Payment Method">



                        <input ng-model="newPayment.patient_notes" id="comments" type="text" name="comments" placeholder="Comments">

                    </fieldset>

                    <a href ng-click="addPayment(newPayment)" id="submit-button">Submit</a>

                    <a href ng-click="" id="data-modal-button">See Data</a>

                    <a href ng-click="patient = !patient" id="new-patient">Add New Patient</a>

                </div>

            </form>

        </div>

    </div>

    <div ng-hide="!patient" ng-include src="'../components/patient/patientView.html'"></div>

    <center>
        <div class="grid-container">
            <div ng-include src="'../components/doctor/paymentGridView.html'"></div>
        </div>
    </center>

</main>

<a ui-sref="login">
    <div class="logout-containter">

        <i class="fa fa-sign-out logout fa-2x" aria-hidden="true"></i>

        <ul class="logout-text">LOGOUT</ul>

    </div>
</a>

<chat-dir></chat-dir>

<graphs-dir></graphs-dir>