<div class="tg-wrap">
    <table id="tg-Hpwo7" class="tg">
        <tr>
            <th class="tg-qcjy">Date Charged</th>
            <th class="tg-qcjy">Date Due</th>
            <th class="tg-qcjy">Payment Amount</th>
            <th class="tg-qcjy">Payment Method</th>
            <th class="tg-qcjy">Comments</th>
            <th class="tg-qcjy">Paid</th>
        </tr>
        <tr ng-repeat="x in payments">
            <td class="tg-b7b8">{{ x.date_charged | date }}</td>
            <td class="tg-yw4l">{{ x.due_by | date }}</td>
            <td class="tg-b7b8">{{ x.payment_amount | currency }}</td>
            <td class="tg-yw4l">{{ x.payment_method | uppercase }}</td>
            <td class="tg-b7b8">{{ x.patient_notes }}</td>
            <td class="tg-b7b8"><input type="radio">{{ x.paid }}</td>
        </tr>
    </table>
</div>