<!DOCTYPE HTML>
<html>

<head>
    <title>PatientProfile</title>

    <link rel="stylesheet" href="assets/styles/patientProfile.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">


</head>

<body>

<div class="card-container">
        
    <h1 style="font-size:75px; text-align:center">Jones Family Practice Patients</h1>
    <div class="row">
        <div  ng-repeat="patient in patients" class="col s12 m6 l3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{patient.name}}</span>
                    <p>
                        <div>
                            Address:
                            <p>{{patient.address.street}}</p>
                            <p>{{patient.address.city}}</p>
                            <p>{{patient.address.state}}</p>
                            <p>{{patient.address.zip}}</p>
                            <div>&nbsp</div>
                            
                            Date of Birth:
                            <p>{{patient.date_of_birth}}</p>
                            <div>&nbsp</div>
                            
                            Social Security Number:
                            <p>{{patient.social_security}}</p>
                            <div>&nbsp</div>
                            
                            Phone Number:
                            <p>{{patient.phone}}</p>
                        </div>
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">EDIT</a>
                    <a href="#">DELETE</a>
                </div>
            </div>
        </div>
    </div>
    
 </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.js"></script>

</body>

</html>