<body>
    <main class="container">
        <header>

            <div class="logo-bar">
                <img id="logo" src="assets/images/Billingsimplified logo.png">
                <p class="practice-name">Jones Family Practice</p>
            </div>
            
        </header>

        <div class="main-container">

            <div class="payment-entry">
                <form class="payment-data" method="post" action="index.html">
                    
                    <div class="input-field"> 
                    <p><input id="last-name" type="text" name="last-name" value="" placeholder="Last Name"></p>

                    <p><input id="first-name" type="text" name="first-name" value="" placeholder="First Name"></p>

                    <p><input id="payment-amount1" type="text" name="payment-amount" value="" placeholder="Payment Amount"></p>
                    </div>
                    
                </form>



            </div>

            <div class="chat">
                DIRECTIVE
            </div>

            <div class="submit-button">

            </div>
        </div>

    </main>
</body>