<body>
    <main class="container">
        <header>

            <div class="logo-bar">
                <img id="logo" src="assets/images/Billingsimplified logo.png">
                <p class="practice-name">Jones Family Practice</p>
            </div>

        </header>

        <div class="main-container">

            <div class="payment-entry">
                <form class="payment-data" method="post" action="index.html">

                    <div class="input-field">
                        <fieldset>
                            <legend style="font-size:30px; padding-bottom: 10px;">Payment Entry</legend>

                            <p><input id="last-name" type="text" name="last-name" placeholder="Last Name" required></p>

                            <p><input id="first-name" type="text" name="first-name" placeholder="First Name" required></p>

                            <p><input id="payment-amount1" type="number" name="payment-amount" placeholder="Payment Amount" required></p>

                            <select class="purpose-selector" name="purpose" placeholder="Purpose" required>
                                <option value="" disabled selected>Select Purpose</option>
                                <option value="Copay" selected>Copay</option>
                                <option value="Deposit">Deposit</option>
                                <option value="Bill Payment">Bill Payment</option>
                                <option value="Other">Other</option>
                            </select>

                            <p><input id="payment-amount2" type="number" name="payment-amount" placeholder="Payment Amount"></p>

                            <select class="purpose-selector" name="purpose" placeholder="Purpose">
                                <option value="" disabled selected>Select Purpose</option>
                                <option value="Copay" selected>Copay</option>
                                <option value="Deposit">Deposit</option>
                                <option value="Bill Payment">Bill Payment</option>
                                <option value="Other">Other</option>
                            </select>

                            <p><input id="payment-amount3" type="number" name="payment-amount" placeholder="Payment Amount"></p>

                            <select class="purpose-selector" name="purpose" placeholder="Purpose">
                                <option value="" disabled selected>Select Purpose</option>
                                <option value="Copay" selected>Copay</option>
                                <option value="Deposit">Deposit</option>
                                <option value="Bill Payment">Bill Payment</option>
                                <option value="Other">Other</option>
                            </select>

                            <p><input id="payment-total" type="number" name="payment-total" placeholder="Total Payment"></p>

                            <p><input id="payment-method" type="text" name="payment-total" placeholder="Payment Method"></p>



                            <p><input id="comments" type="text" name="comments" placeholder="Comments"></p>

                        </fieldset>

                        <button type="button" class="submit-button">Submit</button>
                        
                    </div>

                </form>



            </div>

            <div class="chat">
                CHAT DIRECTIVE
            </div>



        </div>

    </main>
</body>