<body>
    <main class="container">
        <header>
            <div class="logo-bar">
                <img id="logo" src="assets/images/Billingsimplified logo.png">
                <p class="practice-name">Jones Family Practice</p>
            </div>
        </header>

        <div class="main-container">
        <div class="payment-entry">
          
        </div>
        
        <div class="chat">
            
        </div>
        
        <div class="submit-button">
            
        </div>
        </div>

    </main>
</body>